****Answer-1****

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

****Answer-2****

In [248]:
total = 0
L1 = [4,5,5,6,7]

for i in range(0,len(L1)):
    total = total+L1[i]
print(total)

27

****Answer-3****

In [247]:
S1 = "Hi PW Skills"
for i in S1:
    S1 = i+S1
print(S1)

sllikS WP iHHi PW Skills

****Answer - 4****

In [246]:
num = int(input("enter a number  "))
facto = 1


for i in range(1,num+1):
    facto = i*facto
print(facto)

enter a number   5

120

****Answer-5****

In [162]:
num = int(input("Enter a number   "))
mul = 1
for i in range(1,11):
    mul = i*num
    print(mul)

Enter a number    10

10
20
30
40
50
60
70
80
90
100

****Answer-6****

In [207]:
L2 = [2,4,5,6,7,8,9]
even_count = 0
odd_count = 0
for i in L2:
    if i%2==0:
        even_count +=1
    else:
        odd_count+=1
print(even_count)
print(odd_count)

4
3

****Answer-7****

In [245]:
for i in range(1,6):
    squar = i*i
print(squar)

25

****Answer-8****

In [244]:
str1 = "PWSkillsClasses"
x = 0
for i in str1:
    x+=1
print(x)

15

****Answer-9****

In [249]:
L3 = [3,4,5,6,7,8,9]
sum_list = 0
for i in range(len(L3)):
    sum_list+=i
    average = sum_list/len(L3)
print(average)

3.0

****Answer-10****

In [4]:
previous = 0
current = 1
for i in range(0,11):
    if(i<=1):
        next = i
    else:
        next = previous+current
        previous = current
        current = next
        print(next)

1
2
3
5
8
13
21
34
55

****Answer - 11****

In [36]:
L4 = [1,2,3,4,3,7,5]
count_dict = {}
for i in L4:
    count_dict[i]=L4.count(i)
print(count_dict)

{1: 1, 2: 1, 3: 2, 4: 1, 7: 1, 5: 1}

****Answer-12****

In [70]:
for i in range(2,21):
    flag = 0
    for j in  range(2,int(i/2)+1):
        if i%j == 0:
            flag = 1
            break
    if(flag==0):
        print(i,end='  ')

2  3  5  7  11  13  17  19

****Answer-13****

In [73]:
str1 = input("please type here")
count = 0
vowels = set("aeiou")
for i in str1:
    if i in vowels:
        count+=1
print(count)

please type here hi my name is harsh

5

****Answer-14****

In [10]:
L5 = [[1,3,4,5],[3,4,5,6],[9,8,7,3,4]]   #create a 2D list

max_element = 0

for i in L5:
    
    for element in i:
        if  element>max_element:
            
            max_element = element
print(max_element)

9

****Answer-15****

In [26]:
L6 = [2,4,5,6,7,4,3,2,3,4,3] # first define a list
remove = 3                   # then define variable which need to remoove from list
new_list = []                # taken new blank list to store new list 

for i in L6:                 # using for loop and check condition if remoble value is not in list then append new list
    if i!=remove:
        new_list.append(i)

print(new_list)

[2, 4, 5, 6, 7, 4, 2, 4]

****Answer-16****

In [39]:
for i in range(1,6):         # using for with range value 1 to 6
    
    for j in range(1,11):      # using nested for loop with range value 1 to 11 
        table = i*j            # then multiply with both i and j 
        print(table,end = '  ')
    print()

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50

****Answer-17****

In [50]:
Fahrenheit = [43,23,34,54,26,65]

celsius_temp = []

for i in Fahrenheit:
    fahrenheit_to_celsius = (i-32)*5/9
    celsius_temp.append(fahrenheit_to_celsius)
print(celsius_temp)

[6.111111111111111, -5.0, 1.1111111111111112, 12.222222222222221, -3.3333333333333335, 18.333333333333332]

****Answer-18****

In [ ]:
L1 = [2,3,2,1,8,7,9,5,4,"pw"]
L2 = [2,3,"pw","skills","harsh"]
new_list = []

for i in L1:
    if i in L2:
        new_list.append(i)
print(new_list)

[2, 3, 2, 'pw']

****Answer-19****

In [74]:
for i in range(1,11):
    for j in range (i):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

****Answer-20****

num1 = int(input("enter first num"))
num2 = int(input("enter second num"))

min_num = min(num1,num2)
gcd = 1

for i in range(2,min_num+1):
    if num1%2==0 and num2%2==0:
        gcd = i
print(gcd)

****Answer-21****

In [5]:
numbers = [245,3677,42323,646,7123,83435,923435]
'''we use list comprehension to sum of digit in list numbners,we convert each number to a string to iterate each digit then
then again convert it into int to sum of these digit'''
digit_sum = [sum(int(digit) for digit in str(number)) for number in numbers]

for i in range(len(numbers)):
    print(f"number:{numbers[i]},sum of digits:{digit_sum[i]}")

number:245,sum of digits:11
number:3677,sum of digits:23
number:42323,sum of digits:14
number:646,sum of digits:16
number:7123,sum of digits:13
number:83435,sum of digits:23
number:923435,sum of digits:26

****Answer-22****

In [7]:
def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            return False
    return True

number = int(input("enter a number:  "))
prime_factor = [factor for factor in range(2,number+1) if number%factor==0 and is_prime(factor)]
print(f"the prime factor of {number} are:{prime_factor}")

enter a number:   65

the prime factor of 65 are:[5, 13]

****Answer-23****

In [11]:
Number = [1,2,3,4,5,6,2,1,7,8,9,7,8]
unique_number = []

[unique_number.append(item) for item in Number if item not in unique_number]
print(unique_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

****Answer-24****