Problem 1: Bank Account Create a class representing a bank account with attributes like account number, account holder name, and balance. Implement methods to deposit and withdraw money from the account.

In [8]:
class bank_account:
    def open_account(self,act_no,name):
        print("your account has been opened")
        print(act_no+name)
    def diposite(self,balnce):
        print("Amount deposited")
    def withdraw(self,balance):
        print("Amount debited")

In [12]:
a = bank_account()
a.open_account("12345","harsh")

your account has been opened
12345harsh

In [14]:
a.diposite(900000000)

Amount deposited

In [16]:
a.withdraw(800000)

Amount debited

Problem 2: Employee Management Create a class representing an employee with attributes like employee ID, name, and salary. Implement methods to calculate the yearly bonus and display employee details.

In [23]:
class employee:
    def __init__(self,emp_id,name,salary):
        self.emp_id='hg1997'
        self.name='Harsh'
        self.salary=100000
    def emp_detail(self):
        print("Employee id  "+self.emp_id+"   "+"Name "+self.name)
    def bonus(self):
        if self.salary>=50000:
            return (self.salary*20)/100
        elif self.salary>=25000 and self.salary<50000:
            return (self.salary*10)/100
        else:
            return (self.salary*5)/100

In [25]:
a = employee('hg1997','Harsh',100000)
a.emp_detail()

Employee id  hg1997   Name Harsh

In [27]:
a.bonus()

20000.0

In [40]:
a = employee('hg1997','Harsh',100000)
a.emp_detail()

Employee id  hg1997   Name Harsh

In [42]:
a.bonus()

20000.0

Problem 3: Vehicle Rental Create a class representing a vehicle rental system. Implement methods to rent a vehicle, return a vehicle, and display available vehicles.

In [53]:
class vehicle_rental:
    def rent(self,amount):
        if amount ==150:
            print("vehicle rented -1234  ")
        else:
            print("provide enough money")
    def return_(self,code):
        if code ==1234:
            print("Vehicle returned")
        else:
            print("Provide correct code")

In [55]:
a = vehicle_rental()
a.rent(150)
a.return_(1234)

vehicle rented -1234
Vehicle returned

Problem 4: Library Catalog Create classes representing a library and a book. Implement methods to add books to the library, borrow books, and display available books.

In [10]:
class Library:
    books=[]
    written_by_author =[]
    books_under_price = []
    def __init__(self,name,author,isbn,price):
        self.name = name
        self.author = author
        self.isbn = isbn
        self.price = price
    def add_book(self):
        Library.books.append((self.name,self.author,self.isbn,self.price))
    def searchbookisbn(self,isbn):
        for book in Library.books:
            if book[2]==isbn:
                return book
    def searchbookauthor(self,author):
        for book in Library.books:
            if book[1]==author:
                Library.written_by_author.append(book)
        return Library.written_by_author
    def searunderprice(self,price):
        for book in Library.books:
            if book[3]<price:
                Library.books_under_price(book)
        return Library.books_under_price
book = Library('DSA','krish','0123344',22)
book.add_book()
print(book.searchbookauthor('krish'))
Library.books

[('DSA', 'krish', '0123344', 22)]

[('DSA', 'krish', '0123344', 22)]

In [25]:
class product:
    def __init(self,pid,price,qty):
        self.pid = pid
        self.price = price
        self.qty = qty
    def get_id(self):
        return self.pid
    def get_price(self):
        return self.price
    def get_quantity(self):
        return self.qty
    def increase_qty(self):
        self.qty +=1
    def decrease_qty(self):
        self.qty -=1
    def get_value(self):
        value = self.qty*self.price
        return value
product1 = product('fishing',20,10)
product2 = product('apparel',35,20)

class inventory:
    def __init__(self,products):
        self.products=products
        self.fishing_list=[]
        self.apparel_list =[]
        self.value=0
    def add_fishing(self):
        for product in self.products:
            if product.get_id()=='fishing':
                self.fishing_list.append(product)
        return self.fishing_list
    def add_apprel(self):
        for product in self.products:
            if product.get_id()=='apparel':
                self.apparel_list.append(product)
        return self.apparel_list
inventory_1 = inventory([product1,product2])
inventory_1.add_fishing()
print(inventory_1)

TypeError: product() takes no arguments